{% extends 'src/base.html'%}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/stylesheet.css">
    <title></title>
  </head>
  <body>
    {% block content %}
    <div class="sign-in-form">
      <form id="sign-in">
        <h3>Login</h3>
        <input type="email" id="email" name="email" placeholder="Email">
        <br>
        <br>
        <input type="password" id="password" name="username" placeholder="Password">
        <br><br>
        <input type="submit" id="submit" value="Submit">
      </form>
    </div>
    {% endblock %}
  </body>
</html>
