{% extends 'base.html'%}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/stylesheet.css">
    <title></title>
  </head>
  <body>
      
    <section>
      <nav class="ticket-nav">
        <ul>
          <li><a href="#">My Tickets</a>
          <ul id="sublist">
            <li><a href="#">All</a></li>
            <li><a href="#">Open</a></li>
            <li><a href="#">Closed</a></li>
          </ul></li>
          <li><a href="#">Create Ticket</a></li>
          <li><a href="#">Search Ticket</a></li>
        </ul>
      </nav>
      <table>
        <tr>
          <th>Ticket Number</th>
          <th>Due Date</th>
          <th>Status</th>
          <th>Assigned To</th>
        </tr>
        <tr>
          <th>00001</th>
          <th>4/2/2022</th>
          <th>In Progress</th>
          <th>Dev 1</th>
        </tr>
        <tr>
          <th>00002</th>
          <th>4/3/2022</th>
          <th>In Progress</th>
          <th>Dev 2</th>
        </tr>
      </table>
    </section>
  </body>
</html>
