* {
  margin: 0;
  padding: 0;
}
.E{
color:red;
}
.subTicketHeaders{
    color:blue;
}
.U{
color:orange
}
.R{
color:green
}
.ticketP{
  display:inline;
  margin-right:20px;
      color:blue;}

.page-header {
    background: lightgray;
    max-height: 5em;
    padding: 1em;
    padding-left: 3em;
    left: 0;
    top: 0;
    font-family: 'Dosis', sans-serif;
    font-size: 2em;
    color: navy;
  }
  
  .page-footer {
    background: lightgray;
    max-height: 2em;
    padding: 2em;
    position: fixed;
      bottom:0;
      left:0;
      width: 100%;
      z-index:0;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    color: navy;
  }
  
  .sign-in-form {
    margin: auto;
    margin-top: 10em;
    width: 200px;
    height: 300px;
    background-color: powderblue;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: navy;
    font-family: 'Dosis', sans-serif;
  }
  .inputFields{
    height: 2em;
  }
  #submit {
    background-color: blue;
    color: white;
    width: 50%;
    height: 2em;
    border: none;
  }
  .content{

    height: 430px;
    }
  /* Container for flexboxes */
  section {
    margin-top: 10em;
    display: -webkit-flex;
    display: flex;
    padding-left: 3em;
    padding-right: 3em;
  }
  
  /* Style the navigation menu */
  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px;
  }
  
  .ticket-nav {
    font-family: 'Dosis', sans-serif;
    background-color: powderblue;
    font-size: 20px;
    color: navy;
    display:inline-block;
    margin-left:5%;
    width:15%;
    height:100%;
    float: left;
    padding:5%;
  }
  .ticketTable{
      display:inline-block;
      margin-left:2%;
      width:65%;
      overflow: auto;
      height:500px;
  }
  .ticketInfo:hover {
  background-color: yellow;
}
  .ticketInfo{
  border-bottom: 4px solid royalblue;
  }
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: navy;
  }
  
  #sublist {
    font-size: 16px;
    color: lightgray;
  }
  
  li {
    padding: 0.25em;
    font-size: 25px;
  }
  .assignedTrue{
  color:green;
  display:inline}
  .assignedFalse{
  color:red;display:inline}

  input[type="checkbox"] {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  label {
    display: inline-block;
    width: 50px;
    height: 20px;
    background-color: #477a85;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 20px #477a8550;
  }
  label::after {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #e8f5f7;
    position: absolute;
    border-radius: 70px;
    top: 2px;
    left: 3px;
    transition: 0.5s;
  }
  
  input:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
  
  input:checked + label {
    background-color: #243d42;
  }
  
  label:active:after {
    width: 15px;
  }
  
  
